<section class="section-title garden-section-title">
  <div class="container section-heading">
    <div class="row">
      <div class="col-xs-12 middle-text-tittle">
        <a>
          <img src="img/bienvenido_jardin.png">
        </a>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 middle-text-body">
        <p> Atención, puntualidad, profesionalismo son los que nos respaldan.
          En Vgarden usted encontrara todo lo que necesita
          para su Jardín y  mucho más. Contamos con una amplia variedad de
          servicios que ofrecen calidad y garantia en  cada uno de sus productos.
          En Vgarden le damos el mejor mantenimientos a sus espacios verdes.</p>
      </div>
    </div>
  </div>
</section>


<!-- Carousel -->
<div class="container-fluid carousel-wrapper">
  <div class="row">
    <div id="carousel-sections-control" class="col-xs-12 col-md-12" ng-controller="CarouselSectionGardenCtrl as csgardenCtrl">
      <carousel-section-garden></carousel-section-garden>
    </div>
  </div>
</div>

<!-- Garden section text -->
<div class="row">
  <section class="section-title garden-section-description">
    <div class="container middle-text-body">
      <div class="row">
        <div class="col-xs-12">
          <h2> En Vgarden ofrecemos:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <ul>
            <li> Mantenimiento por horas o mensual.</li>
            <li> Fumigaciones.</li>
            <li> Abonados.</li>
            <li> Recuperacion de cesped.</li>
            <li> Podas en altura con materiales profesionales.</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
          <ul>
            <li> Tala de árboles pequeños o grandes.</li>
            <li> Perfilados y recortes de setos</li>
            <li> Limpieza , puesta a punto de grandes jardines y parcelas</li>
            <li> Reparacion de riegos y fugas.</li>
            <li> Mantenimiento integral de su jardín.</li>

          </ul>
        </div>
      </div>
    </div>
  </section>
</div>