<section class="section-title construction-section-title ">
  <div class="container section-heading">

    <div class="row">
      <div class="col-xs-12   middle-text-tittle ">
        <a>
          <img src="img/bienvenido_obra.png">
        </a>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12  middle-text-body">
        <p> Disponemos de todo tipo de herramientas para poder realizar sus proyectos con la maxima
          porfesionalidad y flexibilidad. Diseñamos su jardín en 3D para que usted elija los detalles
          y tenga la oportunidad de visualizar su jardin antes de empezar la realización de su
          proyecto, y mucho más...</p>
      </div>
    </div>

  </div>
</section>


<!-- Carousel -->
<div class="container-fluid carousel-wrapper">
  <div class="row">
    <div id="carousel-sections-control" class="col-xs-12 col-md-12" ng-controller="CarouselSectionConstructionCtrl as csconstructionCtrl">
      <carousel-section-construction></carousel-section-construction>
    </div>
  </div>
</div>






<!-- NEW OBJECT -->
<section class="middle-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center middle-text-tittle">

        <p class="index-title">
          DISEÑAMOS SU PROYECTO EN 3D
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center middle-text-body">
        <p> Creación de proyectos en 3D con asesoramiento personalizado
          para que pueda apreciar y modificar con
          la máxima flexibilidad todos los elementos de su proyecto antes de
          ser ejecutado. </p>
      </div>
    </div>
  </div>
</section>

<section class="middle-text">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div><img src="img/construction/desgin_1.png"></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div><img src="img/construction/desgin_2.png"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div><img src="img/construction/desgin_4.png"></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div><img src="img/construction/desgin_3.png"></div>
      </div>
    </div>

  </div>
</section>


<!-- Garden section text -->
<div class="row" style="margin-top: 120px;">
  <section class="section-title construction-section-description">
    <div class="container middle-text-body">
      <div class="row">
        <div class="col-xs-12" ng-app>
          <h2> En Vgarden ofrecemos:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6" ng-app>
          <ul>
            <li> Obras de paisajismo de pequeños y grandes jardínes.</li>
            <li> Realización  de areas de cesped en tepe o semilla.</li>
            <li> Jardines verticales y de interior.</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6" ng-app>
          <ul>
            <li>  Diseño y creación de riegos automaticos.</li>
            <li> Diseño y creación de jardines a medida.</li>
            <li> Asesoramiento personalizado enla elección de plantas y materiales para su
              jardín.</li>
            <li> Todo esto y mucho más..!</li>

          </ul>
        </div>
      </div>
    </div>
  </section>
</div>