<!-- Carousel -->
<div class="container-fluid carousel-wrapper">
  <div class="row">
    <div id="carousel-index-control" class="col-xs-12 col-md-12" ng-controller="CarouselIndexCtrl as carouselIndexCtrl">
      <carousel-index></carousel-index>
    </div>
  </div>
</div>


<!--  TEXTO-DEBAJO- DEL CAROUSEL -->
<section class="middle-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center middle-text-tittle">

          <p class="index-title">
         ARAMÍ JARDINERÍA
          </p>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center middle-text-body">
        <p> Atención, puntualidad, profesionalismo son los que nos respaldan.
           En Aramí Jardinería usted encontrara todo lo que necesita
          para su Jardín y  mucho más. Contamos con una amplia variedad de
          servicios que ofrecen calidad y garantia en  cada uno de sus productos. </p>
      </div>
      <div class="col-xs-12 text-center middle-text-body-dos">
         PIDA SU PRESUPUESTO SIN COMPROMISO
      </div>
    </div>
  </div>
</section>


<!-- MINI-SECCIONES -->
<section id="sections">

  <div class="container">

      <div class="row minibox-row-one">

        <div class="col-xs-12 col-md-5 section-minibox  section-first-minibox"> <!--Cuadro 1-->

          <div class="row">
            <div class="col-xs-12 col-md-12  section-box-one "> <!-- Cuadro 1 -Seccion 1-->
              <a>
                <img src="img/minibox-one-title.png">
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-12 text-center section-box-two "> <!-- Cuadro 1 -Seccion 2-->
              <div class="section-minibox-icon">
                <a href="#garden">
                  <img src="img/minibox-one-icon.png">
                </a>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12 col-md-12  section-box-three  "> <!-- Cuadro 1 -Seccion 3-->
              <p>Una amplia variedad de servicios, con presupuestos a medida
                profesionalidad y garantía......</p>

            </div>
          </div>


        </div>

        <div class="col-xs-12  col-md-5 col-md-offset-2 section-minibox section-second-minibox "> <!--Cuadro 2-->
          <div class="row">
            <div class="col-xs-12 col-md-12 section-box-one   "> <!-- Cuadro 2-Seccion 1-->
              <a>
                <img src="img/minibox-two-title.png">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 text-center section-box-two "> <!-- Cuadro 2 -Seccion 2-->
              <div class="section-minibox-icon">
                <a href="#pool">
                  <img src="img/minibox-two-icon.png">
                </a>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 text-center section-box-three  "> <!-- Cuadro 2 -Seccion 3-->
              <p> Instalación y mantenimiento específico para todo tipo de piscinas, suministro
                de productos.......
              </p>
            </div>
          </div>
        </div>
      </div>



      <div class="row minibox-row-two">

        <div class="col-xs-12 col-md-5 section-minibox section-third-minibox "> <!--Cuadro 3-->
          <div class="row">
            <div class="col-xs-12 col-md-12 section-box-one "> <!-- Cuadro 3 -Seccion 1-->
              <a>
                <img src="img/minibox-three-title.png">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 text-center section-box-two "> <!-- Cuadro 3 -Seccion 2-->
              <div class="section-minibox-icon">
                <a href="#construction">
                  <img src="img/minibox-three-icon.png">
                </a>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 text-center section-box-three  "> <!-- Cuadro 3 -Seccion 3-->
              <p>
                Asesoramiento personalizado de Paisajismo en 3D,
                que le permitiran diseñar su jardín con todos los detalles..
              </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-offset-2 col-md-5 section-minibox section-fourth-minibox "> <!--Cuadro 4-->
          <div class="row">
            <div class="col-xs-12 col-md-12  section-box-one"> <!-- Cuadro 4 -Seccion 1-->
              <a>
                <img src="img/minibox-four-title.png">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 text-center section-box-two"> <!-- Cuadro 4 -Seccion 2-->
              <div class="section-minibox-icon">
                <a href="#garden">
                  <img src="img/minibox-four-icon.png">
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 text-center section-box-three "> <!-- Cuadro 4 -Seccion 3-->
              <p> Elija el mantemiento que mas le convenga, por horas, o mensual,
                tanto de su piscina como de su jardin..
              </p>
            </div>
          </div>
        </div>

      </div>

  </div>
</section>

<!-- Separator -->
<br>
<!--  TEXTO-DEBAJO- DE LAS TARJETAS -->
<section class="middle-text">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center middle-text-body">
        <p>
          Precios accesibles según sus necesidades. Todo
          para su jardín y piscina; atención personalizada
          para particulares, empresas y comunidades.
          Presuspuestos sin compromiso.
        </p>
      </div>
    </div>
  </div>
</section>


<br>
