<section class="section-title pool-section-title">
  <div class="container section-heading">

    <div class="row">
      <div class="col-xs-12 middle-text-tittle ">
        <a>
          <img src="img/bienvenido_piscina.png">
        </a>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12  middle-text-body">
        <p> Todo lo que necesita para su piscina. Contamos con una variedad amplia de servicios
          para su mantenimiento  integral; el tratamiento especifico y a medida para toda clase
          de piscinas, para que usted solo se preocupe en disfrutar.</p>
      </div>
    </div>

  </div>
</section>


<!-- Carousel -->
<div class="container-fluid carousel-wrapper">
  <div class="row">
    <div id="carousel-sections-control" class="col-xs-12 col-md-12" ng-controller="CarouselSectionPoolCtrl as cspoolCtrl">
      <carousel-section-pool></carousel-section-pool>
    </div>
  </div>
</div>

<!-- Garden section text -->
<div class="row" style="margin-top: 120px;">
  <section class="section-title  pool-section-description">
    <div class="container middle-text-body">
      <div class="row">
        <div class="col-xs-12" ng-app>
          <h2> En Vgarden ofrecemos:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6" ng-app>
          <ul>
            <li> Mantenimiento todo el año de su piscina de cloro, de sal o de oxígeno.</li>
            <li> Reparacion de depuradoras.</li>
            <li> Cambio de arena de depuradoras.</li>
            <li> Lechado de gresites, cambio de arena.</li>



          </ul>
        </div>
        <div class="col-xs-12 col-md-6" ng-app>
          <ul>
            <li> Instalación de cloradores salinos.</li>
            <li> Limpieza , puesta a punto de su piscina.</li>
            <li> Nos encargamos  del suministro de productos para su piscina
              para que no tenga de preocuparse por nada.</li>

          </ul>
        </div>
      </div>
    </div>
  </section>
</div>